* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  font-family: "Roboto", sans-serif;
  color: #282828;
}

#page_header {
  min-height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
}

#page_logo {
  width: 50px;
  height: 50px;
}

#page_header > a {
  text-decoration: none;
  color: #282828;
}

#page_main {
  display: grid;
  min-height: 80vh;
  width: 90%;
  place-items: center;
}

.hero_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  height: 100%;
}

.hero_section * {
  padding: 5px;
}

.hero_section > img {
  width: 30vw;
  min-width: 180px;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#page_footer {
  width: 100%;
  min-height: 10vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  font-size: 12px;
}

.footer_col button {
  padding: 3px 6px;
  font-size: 12px;
}

.footer_col a {
  text-decoration: none;
  color: #282828;
  padding: 3px;
}
